{% include "query.metadata.template" %}


import cpp
import codingstandards.{{ language_name }}.{{ standard_short_name }}
{% if shared_implementation_short_name is defined %}
import codingstandards.{{ ql_language_name }}.rules.{{ shared_implementation_short_name.lower() }}.{{ shared_implementation_short_name }}

module {{short_name}}Config implements {{shared_implementation_short_name}}ConfigSig {
  Query getQuery() { result = {{package_name}}Package::{{shortname_camelcase}}Query() }
}

import {{shared_implementation_short_name}}<{{short_name}}Config>
{% else %}

from
where
  not isExcluded(x, {{package_name}}Package::{{shortname_camelcase}}Query()) and
select
{% endif %}
