name: ⚙️ Extra Rule Validation

on:
  merge_group:
  push:
    branches:
      - main
      - "rc/**"
      - next
  pull_request:
    branches:
      - main
      - "rc/**"
      - next


jobs:
  validate-rules-csv:
    name: Validate Rules CSV 
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Check Rules 
        shell: pwsh
        run: scripts/util/Get-DuplicateRules.ps1 -Language 'all' -CIMode


  validate-shared-rules-test-structure:
    name: Validate Rules Test Structure 
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Ensure CPP Shared Rules Have Valid Structure  
        shell: pwsh
        run: scripts/util/Test-SharedImplementationsHaveTestCases.ps1 -Language cpp -CIMode

      - name: Ensure C Shared Rules Have Valid Structure  
        shell: pwsh
        run: scripts/util/Test-SharedImplementationsHaveTestCases.ps1 -Language c -CIMode

        
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: missing-test-report.csv
          path: MissingTestReport*.csv

      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-report.csv
          path: TestReport*.csv
          if-no-files-found: error 
     

