name: Generate HTML documentation

on:
  merge_group:
  push:
    branches:
      - main
      - 'rc/**'
      - next
  pull_request:
    branches:
      - main
      - 'rc/**'
      - next

jobs:
  generate-html-doc:
    name: Generate HTML documentation
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install generate_iso26262_docs.py dependencies
        run: pip install -r scripts/requirements.txt

      - name: Generate documentation
        run: |
          python scripts/documentation/generate_iso26262_docs.py coding-standards-html-docs

      - name: Upload HTML documentation
        uses: actions/upload-artifact@v2
        with:
          name: coding-standards-docs-${{ github.sha }}
          path: coding-standards-html-docs/
